@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 257 60% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 67% 94%;
    --secondary-foreground: 224 71% 4%;
    --muted: 240 67% 94%;
    --muted-foreground: 240 5% 65%;
    --accent: 240 67% 94%;
    --accent-foreground: 224 71% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 60% 88%;
    --input: 240 60% 88%;
    --ring: 257 60% 64%;
    --chart-1: 257 60% 64%;
    --chart-2: 240 67% 94%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-border: 240 60% 88%;
    --sidebar-accent: 240 67% 94%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-ring: 257 60% 64%;
  }

  .dark {
    --background: 257 15% 10%;
    --foreground: 210 40% 98%;
    --card: 257 15% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 257 15% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 257 60% 64%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 10% 20%;
    --muted-foreground: 240 5% 63%;
    --accent: 240 10% 20%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 10% 25%;
    --input: 240 10% 25%;
    --ring: 257 60% 64%;
    --chart-1: 257 60% 64%;
    --chart-2: 240 10% 20%;

    --sidebar-background: 257 15% 10%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 240 10% 25%;
    --sidebar-accent: 240 10% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-ring: 257 60% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
